<!--
File name: footer.ejs
Author's name: Anubhav Kumar Singh (lucy)
web site name: Hae Yeon's Portfolio Website
URL: Anubhavkang.azurewebsites.net
file description: This footer section will be called whenever a page is called.
-->
<footer class="footer">
    <!-- JS: Bootstrap 5, Three.js, App -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r152/three.min.js" integrity="sha512-UQ6iXvRxAKDbCHp7z5LHKzQm3r7uVxQErh3FQc6l64cUBd2e9gFKYmwmC2XG/e3lUuG5dSWw8eYwzcJ7H+fFMw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/hero3d.js"></script>

    <div class="container">
        <p class="text-muted">
            &copy;2022 Anubhav Kumar Singh. <br /> Email: <a href="https://mail.google.com/mail/u/0/?fs=1&to=anubhav7singh7@gmail.com&tf=cm">anubhav7singh7@gmail.com</a>
        </p>
    </div>
</footer>
</body>

</html>