<!-- File name: collaboration.ejs
     Author's name: Anubhav Kumar Singh (Lucy)
     web site name: Hae Yeon's Portfolio Website
     URL: Anubhavkang.azurewebsites.net
     file description: This is a page that will display collaboration that I provide.
-->

<% include ../partials/header %>

    <body>
        <header>
            <% include ../partials/navbar %>
        </header>
        <main class="main">
            <div class="container">
                <div class="page-header">
                    <h1> Collaboration </h1>
                </div>
                <img class="serviceimg" src="../images/cms-design.png" alt="collaboration" width="">
                <p>If you would like to have an automation project to support your business or for any personal use ,dynamic or costome made hardware and its firmware all can be designed and produced at one place.</p>
                <p>I am currently looking for businesses who would like to get hands on new developing technology. The solution will be built on latest technology with market ready product.</p>
                <p>For enquiries, <a href="/contact">click here</a> to send me an email. <br/><br/></p>
		<p><small><i>Download page <a href="/downloads">click here</a> .</i></small></p>
            </div>
        </main>
        <% include ../partials/footer %>
