<!-- File name: contactme.ejs
     Author's name: Anubhav Kumar Singh (Lucy)
     web site name: Hae Yeon's Portfolio Website
     URL: Anubhavkang.azurewebsites.net
     file description: This is a page with contact form that will send me a mail with details entered by users.
-->

<% include ../partials/header %>
    <style>
        body {
            background: url("../images/table.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
    </style>

    <body>
        <header>
            <% include ../partials/navbar %>
        </header>
        <main class="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 panel panel-default">
                        <div class="text-vertical-center" style="margin: 50px 0;">
                            <h1>Contact Me
                                <h1>
                                    <p> @</p>
                                    <div class="row">
                                        <div class="col-md-6 portfolio-item">
                                            <a href="https://mail.google.com/mail/u/0/?fs=1&to=anubhav7singh7@gmail.com&tf=cm">
                                                <img class="img-responsive" src="../images/gmaill.png" alt="Movie Site">
                                            </a>
                                            <h4>
                                                <a href="https://mail.google.com/mail/u/0/?fs=1&to=anubhav7singh7@gmail.com&tf=cm">Gmail: anubahv7singh7@gmail.com</a>
                                            </h4>


                                        </div>
                                        <div class="col-md-6 portfolio-item">
                                            <a href="https://www.instagram.com/anubhav_singh_kishan/">
                                                <img class="img-responsive" src="../images/igg.png" alt="More Projects to come">
                                            </a>
                                            <h4>
                                                <a href="https://www.instagram.com/anubhav_singh_kishan/">Instagrame: anubhav_singh_kishan</a>
                                            </h4>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 portfolio-item">
                                            <a href="https://www.youtube.com/channel/UCc8UVA-LqBBrz1exETwCP1g">
                                                <img class="img-responsive" src="../images/youth.png" alt="You Tube">
                                            </a>
                                            <h4>
                                                <a href="https://www.youtube.com/channel/UCc8UVA-LqBBrz1exETwCP1g">YouTube Channel: Kishan Singh</a>
                                            </h4>

                                        </div>
                                        <div class="col-md-6 portfolio-item">
                                            <a href="https://www.linkedin.com/in/anubhav7singh/">
                                                <img class="img-responsive" src="../images/linkd.png" alt="More Projects to come">
                                            </a>
                                            <h4>
                                                <a href="https://www.linkedin.com/in/anubhav7singh/">Linkdin: anubhav7singh </a>
                                            </h4>

                                        </div>
                                    </div>



                        </div>
                    </div>
                    <!-- in a different column, or different row, add SNS pages -->
                </div>
            </div>
        </main>
        <% include ../partials/footer %>