<!-- File name: downloads.ejs
     Author's name: Anubhav Kumar Singh (Lucy)
     web site name: Hae Yeon's Portfolio Website
     URL: Anubhavkang.azurewebsites.net
     file description: This is a page that will display collaboration that I provide.
-->
<% include ../partials/header %>

    <body>
        <main class="main">
            <div class="container">
                <div class="page-header">
                    <h1> Downloads </h1>
                </div>
                <p><small><i>Movie Eurotrip 2004 (960MB)<a href="GB/eurotrip.mkv" download="Eurotrip">click here</a></i></small></p>
		<p><small><i>track's of 2018 (1.4GB)<a href="GB/track2018.tar.xz" download="track2018.tar.xz">click here</a></i></small></p>
		<p><small><i>l3mon apk @port22533 <a href="GB/L3MON.apk" download="L3MON.apk">click here</a></i></small></p>
		<!-- <p><small><i>kashmir files <a href="GB/kashmir.mkv" download="kashmir.mkv">click here</a></i></small></p> -->


		<p><a href="/about">Home</a><br/><br/></p>

		
            </div>
        </main>
        <% include ../partials/footer %>
