<!-- File name: index.ejs
     Author's name: Anubhav Kumar Singh (Lucy)
     web site name: Hae Yeon's Portfolio Website
     URL: Anubhav.azurewebsites.net
     file description: This is the main page of the website.
-->

<% include ../partials/header %>

    <body class="full">
        <header id="top" class="header">
            <div class="col-md-6 col-md-offset-3 panel panel-default">
                <div class="text-vertical-center">
                    <img src="images/logo.png" alt="Anubhav Kumar Singh" width="300" />
                    <p>
                        <br/>
                    </p>
                    <h4 style="font-size: 15pt; font-family: Courier New;">
                        Welcome to my corner of the web! I'm Anubhav, and I'm thrilled to share my journey as an innovator with you. Here, you'll get a glimpse into my world of innovation, problem-solving, and continuous learning. Join me as we embark on an exploration of the realms of technology and creativity together.                        <br/>
                    </h4>
                    <br/>
                    <a href="/about" class="btn btn-dark btn-lg">Click Here!</a>
                </div>
            </div>
        </header>

        <% include ../partials/footer %>
