<!-- File name: portfolio.ejs
     Author's name: Anubhav Kumar Singh (Lucy)
     web site name: Hae Yeon's Portfolio Website
     URL: Anubhavkang.azurewebsites.net
     file description: This is a page that will display my previous works.
-->

<% include ../partials/header %>

    <body>
        <header>
            <% include ../partials/navbar %>
        </header>
        <main class="main">
            <div class="container">
                <div class="page-header">
                    <h1> Project </h1>
                </div>

                <!-- Projects -->
                <div class="row">
                    <div class="col-md-6 portfolio-item">
                        <a href="https://www.linkedin.com/posts/anubhav7singh_arduino-mcu-automation-activity-6822012179018072064-KIcJ/?utm_source=linkedin_share&utm_medium=member_desktop_web">
                            <img class="img-responsive" src="../images/canon-site.png" alt="Canon website">
                        </a>
                        <h4>
                            <a href="https://www.linkedin.com/posts/anubhav7singh_arduino-mcu-automation-activity-6822012179018072064-KIcJ?utm_source=linkedin_share&utm_medium=member_desktop_web">Linkedin Post</a>
                        </h4>
                        <p>3DOF Geasture contolled servo mechanism for more detail vist the page .</p>
                    </div>
                    <div class="col-md-6 portfolio-item">
                        <a href="https://www.youtube.com/watch?v=DLrr4ITivrs">
                            <img class="img-responsive" src="../images/php-cms.png" alt="Contents-Management-Site">
                        </a>
                        <h4>
                            <a href="https://www.youtube.com/watch?v=DLrr4ITivrs">Media Coverage</a>
                        </h4>
                        <p>A Detailed real life project captured by FM News.</p>
                    </div>
                </div>
                <!-- end of first row -->

                <!-- Projects -->
                <div class="row">
                    <div class="col-md-6 portfolio-item">
                        <a href="https://www.linkedin.com/posts/anubhav7singh_computervision-ai-jetsonnano-activity-6818333383249289216-SDaY?utm_source=linkedin_share&utm_medium=member_desktop_web">
                            <img class="img-responsive" src="../images/movie-site.png" alt="Movie Site">
                        </a>
                        <h4>
                            <a href="https://www.linkedin.com/posts/anubhav7singh_computervision-ai-jetsonnano-activity-6818333383249289216-SDaY?utm_source=linkedin_share&utm_medium=member_desktop_web">AI Face Recognaization and Tracing</a>
                        </h4>
                        <p>Face Tracking done on Nvidia Jetson Nano </p>
                    </div>
                    <div class="col-md-6 portfolio-item">
                        <a href="https://www.instagram.com/p/BVkX0fEFy1jt9dxmS967u2VEl__LjMpuYXq8yA0/">
                            <img class="img-responsive" src="../images/startup-593331_640.png" alt="More Projects to come">
                        </a>
                        <h4>
                            <a href="https://www.instagram.com/p/BVkX0fEFy1jt9dxmS967u2VEl__LjMpuYXq8yA0/">Ig Post </a>
                        </h4>
                        <p>Can you see me!!</p>
                    </div>
                </div>
                <!-- end of second row -->
                <div class="row">
                    <div class="col-md-6 portfolio-item">
                        <a href="https://www.instagram.com/p/Bwh0j9AhFyAbAynQp9-PZN1J7UgUDjsiYzui7s0/">
                            <img class="img-responsive" src="../images/plane.png" alt="Movie Site">
                        </a>
                        <h4>
                            <a href="https://www.instagram.com/p/Bwh0j9AhFyAbAynQp9-PZN1J7UgUDjsiYzui7s0/">Look Mom I can fly</a>
                        </h4>
                        <p>DIY RC Plane </p>
                    </div>
                    <div class="col-md-6 portfolio-item">
                        <a href="https://www.instagram.com/p/CcIS0sOqPauh3mqhfOvOv7Q7eQMQpPio1Q00HY0/">
                            <img class="img-responsive" src="../images/roboticarm.png" alt="More Projects to come">
                        </a>
                        <h4>
                            <a href="https://www.instagram.com/p/CcIS0sOqPauh3mqhfOvOv7Q7eQMQpPio1Q00HY0/">Robotic Arm </a>
                        </h4>
                        <p>Learns from your movement</p>
                    </div>
                </div>
                <!-- end of second row -->

            </div>
        </main>
        <% include ../partials/footer %>